; ============================================
; Configuração do Hotspot
; Gerado em: 05/04/2026 20:30:40
; ============================================

[database]
db_host = "127.0.0.1"
db_port = "3306"
db_user = "u699539422_hotspott"
db_pass = ""
db_name = "u699539422_hotspott"

[hotspot]
hotspot_name = "Wifi GRÁTIS"
hotspot_logo = "logo.png"
hotspot_bg_image = "bg.jpg"
hotspot_primary_color = "#667eea"
hotspot_secondary_color = "#764ba2"
external_login_url = "https://hotspot.redeslinkin.com.br/login.php"
mikrotik_ip = "177.54.22.229"
mikrotik_api_port = "8728"
mikrotik_api_user = "admin"
mikrotik_api_pass = 0n#2021#

[admin]
admin_user = "admin"
admin_pass = ""
